{% load static %}
<div class="sidebar">

    <h4 class="sidebar-title">
        Dashboard
    </h4>

    <hr>

    <a href="{% url 'home' %}" class="sidebar-link">
    🏠 Home
    </a>

    <a href="{% url 'history' %}" class="sidebar-link">
    📜 Verification History
    </a>

    <a href="#" class="sidebar-link">
        🤖 AI Chatbot
    </a>

    <a href="{% url 'product_comparison' 1 %}" class="sidebar-link">
    ⚖ Product Comparison
    </a>
    
    <a href="{% url 'report_history' %}" class="sidebar-link">
    📄 PDF Reports
    </a>

    <a href="#" class="sidebar-link">
        ⚙ Admin Dashboard
    </a>

    <a href="#" class="sidebar-link logout-link">
        🚪 Logout
    </a>

</div>