<!--<div class="bg-dark text-white min-vh-100 p-3">

    <h4 class="fw-bold mb-4">

        Admin Panel

    </h4>

    <hr class="border-secondary">

    <div class="nav flex-column">

        <a href="#"
           class="nav-link text-white mb-2">

            🏠 Dashboard

        </a>

        <a href="#"
           class="nav-link text-white mb-2">

            👥 User Management

        </a>

        <a href="#"
           class="nav-link text-white mb-2">

            📜 Verification Logs

        </a>

        <a href="#"
           class="nav-link text-white mb-2">

            📄 PDF Reports

        </a>

        <a href="#"
           class="nav-link text-white mb-2">

            🚨 Community Alerts

        </a>

        <a href="#"
           class="nav-link text-white mb-2">

            ⚙ System Settings

        </a>

        <hr class="border-secondary">

        <a href="{% url 'landing' %}"
           class="nav-link text-danger">

            🚪 Logout

        </a>

    </div>

</div>